@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Inter';
}

.login {
    background-image: linear-gradient(#3d22229d, #461414b9), url("./assets/bluenile-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

table.custom-table {
    @apply w-full;
}

table.custom-table tr td {
    @apply border-b border-main/10 p-2;
}

@layer base {
    ::-webkit-scrollbar {
        @apply bg-transparent;
        @apply rounded-xl;
        @apply w-2
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-gradient-to-b from-main/90 to-main/50;
        @apply rounded-xl
    }
}