* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif    ;
    line-height: 1;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    max-width: 150rem;
}

.hero-img-box {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('/client/assets/images/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text-box {
    position: relative;
    color: rgb(231, 221, 221);
}

.heading-primary {
    font-size: 5.2rem;
    margin-bottom: 3.2rem;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 4.8rem;
}

.btn:link, .btn:visited {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
    display: inline-block;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
}

.btn-fill {
    background-color: rgb(231, 221, 221);
    color: rgb(87, 83, 83);
}

.btn-outline {
    color: rgb(231, 221, 221);
    box-shadow: inset 0 0 0 3px rgb(231, 221, 221);
}

.margin-right-sm {
    margin-right: 1.6rem;
}

