/************************/
/* HERO SECTION */
/************************/

.blur-wrap {
    height: inherit;
    background: rgba(186, 114, 114, 0.2);
    backdrop-filter: blur(1rem);
    /* width: 50%; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.unblurred-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 4.8rem;
}

.main-nav-list {
    display: flex;
    list-style: none;
    gap: 3.2rem;
}


.main-nav-link:link, .main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #ddd;
    padding: 1.2rem 2.4rem;
    font-size: 1.8rem;
    transition: all 0.3s;
}

.main-nav-link.btn-fill {
    color: var(--primary);
}

.main-nav-link:hover, .main-nav-link:active {
    box-shadow: inset 0 0 0 3px #fff;
    border-radius: 9px;
}

.right {
    font-size: 15rem;
    text-align: right;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url('/client/assets/images/hero.png');

    position: absolute;
    top: 13rem;
    right: 1.4rem;
}

.left {
    font-size: 15rem;
    text-align: left;
    position: absolute;
    top: 13rem;
    right: -27rem;
    color: rgba(255, 255, 255, 0.5);
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}

.socials img {
    cursor: pointer;
}

/****************************/
/* TOP DESTINATIONS SECTION */
/****************************/

.section-top-dest {
    padding: 8.4rem 0;
}

.top-dest-number {
    font-size: 9.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 2.4rem;
}

.top-dest-description {
    font-size: 2.4rem;
    color: #333;
    line-height: 1.2;
}

.top-dest-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-dest-img {
    width: 50%;
    border-radius: 20px;
}

.explore-more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4.8rem;
}

.explore-btn:link, .explore-btn:visited {
    color: var(--primary);
    box-shadow: 0 0 0 3px var(--primary);
}

.explore-btn:hover {
    background-color: var(--primary);
    color: #fff;
}

/****************************/
/* TESTIMONIALS SECTION */
/****************************/

.section-testimonials {
    background-color: #d3bebe;
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
    justify-items: center;
}


.testimonials-container {
    padding: 8.4rem;
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 8rem;
}

.testimonial-img {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
}

.testimonial-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
    font-weight: 700;
}

.testimonial-name {
    font-size: 1.6rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.4rem;
    column-gap: 1.4rem;
    padding: 1.4rem;
}

.gallery-item {
    width: 25rem;
    height: 25rem;
    overflow: hidden;
}

.gallery-item img {
    display: block;
    width: 100%;
    transition: all 0.4s;
}

.gallery-item img:hover {
    transform: scale(1.1);
}

/****************************/
/* PACKAGES SECTION */
/****************************/

.section-packages {
    padding: 8.4rem 0;
}

.packages {
    background-color: #eee9e7;
    padding: 4.8rem;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.package-header {
    text-align: center;
    margin-bottom: 4.8rem;
}

.package-name {
    color: var(--primary);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 0.75;
    margin-bottom: 3.2rem;
}


.package-price {
    font-size: 6.2rem;
    font-weight: 800;
    color: #333;
    margin-bottom: 1.6rem;
}

.package-text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #6f6f6f;
}

.package-signup {
    text-align: center;
    margin-top: 4.8rem;
}

/****************************/
/* FOOTER SECTION */
/****************************/

.footer-wrapper {
    padding: 8.4rem 0;
    background-color: var(--primary);
}

.grid-footer {
    grid-template-columns: 1.5fr 1fr .8fr .8fr;
}

.footer-heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3.2rem;
    color: #ddd;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer-link:link, .footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #bbb5b3;
}


.footer-link:hover, .footer-link:active {
    color: #ffffff;
}

.footer-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 1rem;
}

.footer-logo svg {
    height: 70px;
}

.company-name {
    color: white;
    font-size: 4rem;
}

.logo-col {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
    padding-left: 10px;
}

.address-col {
    color: #eee9e7;
    font-size: 1.2rem;
}

.contacts {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    gap: 2.4rem;
}

.contact {
    color: rgb(103, 103, 202);
}


.footer-copyright {
    background-color: #5d3f1e;
    color: #fff;
    padding: 15px 30px;
    text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}