/************************/
/* HERO SECTION */
/************************/

.blur-wrap {
    height: inherit;
    background: rgba(186, 114, 114, 0.2);
    backdrop-filter: blur(1rem);
    /* width: 50%; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.unblurred-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 4.8rem;
}

.main-nav-list {
    display: flex;
    list-style: none;
    gap: 3.2rem;
}


.main-nav-link:link, .main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #ddd;
    padding: 1.2rem 2.4rem;
    font-size: 1.8rem;
    transition: all 0.3s;
}

.main-nav-link.btn-fill {
    color: var(--primary);
}

.main-nav-link:hover, .main-nav-link:active {
    box-shadow: inset 0 0 0 3px #fff;
    border-radius: 9px;
}

.right {
    font-size: 15rem;
    text-align: right;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url('/client/assets/images/hero.png');

    position: absolute;
    top: 13rem;
    right: 1.6rem;
}

.left {
    font-size: 15rem;
    text-align: left;
    position: absolute;
    top: 13rem;
    right: -25.5rem;
    color: rgba(255, 255, 255, 0.5);
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}