.destination-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.main {
    margin-top: 12rem;
}

.destination-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.8rem;
}

.dest-heading {
    font-size: 3.2rem;
}

.dest-header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.dest-filter {
    outline: none;
    color: var(--primary);
    background-color: white;
    border-radius: 11px;
    padding: .5rem 1rem;
    font-size: 2rem;
    border: 3px solid var(--primary);
}

.destinations-container {
    margin-bottom: 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
}

.dest-messages {
    height: 100vh;
    display: flex;
    margin-top: 20rem;
    justify-content: center;
}