* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey: rgb(212, 198, 198);
    --primary: #411D0D;
}
/* 
::-webkit-scrollbar {
    display: none;
} */

html {
    font-size: 62.5%;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Inter';
    line-height: 1;
    font-weight: 400;
    color: #333;
}



.grid {
    display: grid;
    row-gap: 8.6rem;
    column-gap: 6.4rem;
}

.grid-2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
    grid-template-columns: repeat(4, 1fr);
}

.grid-center-v {
    align-items: center;
}

.sub-heading {
    display: inline-block;
    font-size: 2.4rem;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 2.4rem;
    font-weight: 600;
}

.heading-primary {
    font-size: 5.2rem;
    margin-bottom: 3.2rem;
}

.heading-secondary, .heading-tertiary {
    letter-spacing: -0.5px;
}

.heading-secondary {
    font-size: 3.6rem;
    font-weight: bolder;
    margin-bottom: 8.6rem;
}

.heading-tertiary {
    font-size: 3.6rem;
    margin-bottom: 3.2rem;
}

.btn, .btn:link, .btn:visited {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
    display: inline-block;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    transition: all 0.3s;

    border: none;
    cursor: pointer;
}

.btn-main {
    background-color: var(--primary);
    color: white;
}

.btn-main:hover, .btn-main:active {
    background-color: #552c1a;
}

.btn-fill {
    background-color: var(--grey);
    color: var(--primary);
}

.btn-outline {
    color: var(--grey);
    box-shadow: inset 0 0 0 3px var(--grey);
}

.btn-form {
    font-family: inherit;
    background-color: #310808;
    color: #ddd;
    align-self: end;
    padding: 1.2rem;
}

.btn-form:hover {
    background-color: #fff;
    color: #411D0D;
}

.margin-right-sm {
    margin-right: 1.6rem;
}

.btn-fill:hover, .btn-fill:active {
    background-color: white;
}

.btn-outline:hover, .btn-outline:active {
    background-color: var(--grey);
    color: var(--primary);
}

.container-p {
    padding: 5.2rem 4.8rem;
}

.container-m {
    max-width: 130rem;
    margin: 0 auto;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.list-item {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.list-icon {
    width: 3rem;
    height: 3rem;
    fill: var(--primary);
}

*:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(167, 154, 149, 0.475);
}