:root {
    --primary: #411D0D;
    --grey: rgb(212, 198, 198);
    --error: rgb(221, 60, 60);
}

.login-wrapper {
    background-image: linear-gradient(#5e29298e, #6122228c), url("../assets/images/destinations/019.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    font-size: 1.6rem;
    color: #1a1818;
}

.login-form {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    max-width: 470px;
    scale: 0.85
}

label {
    color: #1a1818;
    font-weight: bold;
    font-size: 1.6rem;
}

.form-header {
    padding: 2.4rem;
    padding-bottom: 0;
}

.form-heading {
    line-height: 1.4;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    padding-top: 0;
    cursor: pointer;
}

.logo svg {
    width: 4rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding: 2.4rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input {
    background-color: #fff;
    color: #221f1f;
    font-family: inherit;
    width: 100%;
    padding: 1rem;
    font-size: 1.4rem;
    border-radius: 9px;
    border: 2px solid var(--grey);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
}

.error {
    font-size: 1.4rem;
    color: var(--error);
}

.error-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    border: 2px solid var(--error);
    margin-top: 2rem;
    border-radius: 9px;
    color: var(--error);
    font-size: 1.4rem;
}

.close-btn {
    cursor: pointer;
}

.close-btn svg {
    width: 30px;
    height: 30px;
    stroke: var(--error);
}

.login-btn {
    padding: 1.2rem 2.4rem;
    font-size: 1.6rem;
    margin-top: 2rem;
    border-radius: 9px;
    background-color: var(--primary);
    color: #fff;
    border: none;
    transition: all 0.3s;
}

.logging-in {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.login-btn:hover {
    background-color: #5a2b17;
}

.signup-link {
    font-size: 1.4rem;
    text-align: center;
}

.signup-link a {
    color: var(--primary);
}