.loader {
    width: 24px;
    height: 24px;
    border-radius: 50%;

    border-top: 4px solid rgba(255, 255, 255, 1);
    border-left: 4px solid rgba(255, 255, 255, 1);
    border-right: 4px solid rgba(255, 255, 255, 0);

    animation: spin 0.5s infinite linear;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}