:root {
    --toast-background: #fff;
    --toast-primary: #5b943e;
    --error: rgb(221, 60, 60);
}

.toast {
    position: fixed;
    max-width: 300px;
    top: 12rem;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px 0 0 6px;
    background-color: var(--toast-background);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    transform: translateX(0);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 3s linear;
    padding: 3px 0 3px 3px;
}

.toast-error {
    color: var(--error);
}

.toast-success {
    color: var(--toast-primary)
}

.toast-message {
    font-size: 15px;
}

.toast-body {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 16px 8px;
    border-right: none;
    border-radius: 4px 0 0 4px;
}

.toast-progress {
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: calc(100% - 8px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: inherit;
    animation: progress 2.5s 0.3s linear;
}

.toast-progress-success {
    background: linear-gradient(to right, var(--toast-background), var(--toast-primary));
}

.toast-progress-error {
    background: linear-gradient(to right, var(--toast-background), var(--error));
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    95% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes progress {
    to {
        transform: scaleX(1);
    }
}